html{
  background: black;
}
#root{   
  width: 1366px;
  margin-left: 255px;
  margin-right: 255px;}

.App{
  text-align: center;
  padding-top: 2%;
  background: black;
  box-sizing: border-box;
  font-family: "Titillium Web", "Arial", sans-serif;
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../src/images/starfield-banner.jpg);
  
}

.mainLogo{
  width: 100px;
  height: auto;
}

.header_h1{
  color: white;
  
}

.apod_btn:hover{
  background-color: #5d7fb9;
}

.titleDiv{
  padding: 15px 0;
}

.explanationP{
  width: 70%;
  margin-left: 15%;
  
}

.img{
  width: 70%;
}
